[submodule "lenage.github.com"]
	path = lenage.github.com
	url = git://github.com/lenage/lenage.github.com.git
[submodule "saberma.github.com"]
	path = saberma.github.com
	url = git://github.com/saberma/saberma.github.com.git
[submodule "elfjs.github.com"]
	path = elfjs.github.com
	url = git://github.com/elfjs/elfjs.github.com.git
[submodule "mytharcher.github.com"]
	path = mytharcher.github.com
	url = https://github.com/mytharcher/mytharcher.github.com.git
